@font-face {
    font-family: 'Gotham-Pro-Regular';
    src: url('../fonts/Gotham-Pro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Bold';
    src: url('../fonts/Gotham-Pro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Light';
    src: url('../fonts/Gotham-Pro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Medium';
    src: url('../fonts/Gotham-Pro-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar-wrapper {
	background: #212a34;
	border-bottom: 1px solid #484d52;
	box-sizing: border-box;
	height: 80px;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 4;
}

nav {
	margin: 0 auto;
	width: 1200px;
}

.logo {
	background: url('../images/sprite.png') no-repeat 0 -1146px;
	display: inline-block;
	float: left;
	height: 54px;
	margin: 14px 0 0;
	padding: 0 30px 0 0;
	width: 95px;
}

.logo:after {
	content: url('../images/line.png');
	display: inline-block;
	margin: -14px 0 0;
	padding-left: 124px;
}

.hamburger {
	display: none;
}

.menu {
	float: left;
	font-size: 0;
	margin: 0 auto;
	padding: 0;
	width: 900px;
}

.menu li {
	display: inline-block;
	margin: 0;
}

.menu li a {
	color: #c2c2c2;
	display: inline-block;
	font: 16px 'Gotham-Pro-Light';
	outline: none;
	padding: 32px 37px 30px;
	text-decoration: none;
}

.menu li a:hover {
	background: #2e3b4a;
	color: #fff;

}

.menu li a:active {
	background: #2e3b4a;
	color: #fff;
}

.phone-block {
	float: left;
	margin-top: 11px;
	padding-left: 60px;
	position: relative;
}

.line {
	background: url('../images/line.png');
	height: 80px;
	left: -6px;
	position: absolute;
	top: -11px;
	width: 1px;
}

.phone-icon {
	background: url('../images/sprite.png') no-repeat -98px 0;
	height: 34px;
	left: 10px;
	position: absolute;
	top: 14px;
	width: 33px;
}

.phone-block p {
	color: #fff;
	font: 14px 'Gotham-Pro-Regular';
	margin: 10px 0;
}


header {
	background: url('../images/bg-1.jpg') no-repeat;
	background-size: cover;
	height: 650px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

.header-top {
	height: 80px;
}




h1,
.header-sub-title {
	color: #fff;
	text-align: center;
} 

h1	{
	font: 36px 'Gotham-Pro-Medium';
	line-height: 52px;
	margin: 220px auto 25px;
	max-width: 830px; 
}

.header-sub-title {
	font: 22px 'Gotham-Pro-Regular';
	margin: 0 auto 100px;
}

.header-cta {
	background: #3bbbd2;
	border: none;
	border-radius: 30px;
	color: #fff;
	display: block;
	font: 20px 'Gotham-Pro-Medium';
	height: 55px;
	line-height: 55px;
	margin: 0 auto;
	outline: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 327px;
	z-index: 2;
}

.header-cta:hover {
	background: #1499b1;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;

}

.second-screen-wrapper {
	background: #212a34;
	position: relative;
} 

.angle {
	background: url('../images/angle.png') no-repeat;
	background-size: cover;
	height: 216px;
	position: absolute;
	top: -136px;
	width: 100%;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
	padding: 35px 0 100px;
	position: relative;
	width: 960px;
}

.hidden-item {
	height: 70px;
	position: absolute;
	top: -70px;
}

.heading-1 {
	color: #3eb2c8;
	font: 30px 'Gotham-Pro-Bold';
	letter-spacing: -0.04em;
	margin: 0 auto 15px;
	text-align: center;
	text-transform: uppercase;
}

.sub-title {
	color: #9d9d9d;
	font: 14px 'Gotham-Pro-Regular';
	margin: 0 auto 60px;
	text-align: center;
}

.mobile-reason-block {
		display: none;
	}

.reason-panel {
	float: left;
	overflow: hidden;

}

.reason-block {
	float: left;
	margin: 0 15px 0 0;
	overflow: hidden;
	width: 180px;
}

.reason-block:last-child {
	margin: 0;
}

.reason-experience,
.reason-cost,
.reason-speed,
.reason-smile,
.reason-guarantee {
	height: 89px;
	margin: 0 auto 20px;
	width: 89px;
}

.reason-experience {
	background: url('../images/sprite.png') -141px 0;
}

.reason-cost {
	background: url('../images/sprite.png') -231px 0;
}

.reason-speed {
	background: url('../images/sprite.png') -322px 0;
}

.reason-smile {
	background: url('../images/sprite.png') -411px 0;
}

.reason-guarantee {
	background: url('../images/sprite.png') -503px 0;
}

.reason-description {
	color: #ccc;
	font: 13px 'Gotham-Pro-Light';
	letter-spacing: 0.035em;
	line-height: 22px;
	margin: 0;
	text-align: center;
}

.reason-decor {
	color: #fff;
	font: 24px 'Gotham-Pro-Bold';
}


.heading-2 {
	color: #3eb2c8;
	font: 30px 'Gotham-Pro-Bold';
	letter-spacing: -0.04em;
	margin: 20px auto 50px;
	text-align: center;
	text-transform: uppercase;
}

.kinds-panel {
	margin: 0 auto;
}


.kind-1,
.kind-2,
.kind-3 {
	border: 1px solid #e1e3e3;
	float: left;
	margin-right: 10px;
	text-align: center;
	width: 230px;
}

.kind-1 {
	height: 340px;
	margin-bottom: 30px;
}

.kind-1-image,
.kind-2-image,
.kind-3-image,
.kind-4-image {
	margin: 0 0 35px; 
	width: 230px;
}

.kind-1-image {
	background: url('../images/sprite.png') 0 -93px;
	height: 200px;
}

.kind-heading {
	bottom: 85px;
	color: #212a34;
	font: 18px 'Gotham-Pro-Regular';
	margin: 0 0 26px;
}

.mobile-kind-3,
.mobile-kind-4 {
	display: none;
}

.calculate-cta {
	background: #3eb3c8;
	border: none;
	border-radius: 17px;
	color: #fff;
	font: 12px 'Gotham-Pro-Regular';
	height: 33px;
	outline: none;
	width: 190px;
}

.calculate-cta:hover {
	background: #1499b1;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
}

.kind-2 {
	height: 320px;
}

.kind-2-image {
	background: url('../images/sprite.png') -236px -93px;
	height: 180px;
}

.kind-3 {
	height: 300px;
}

.kind-3-image {
	background: url('../images/sprite.png') -474px -93px;
	height: 160px;
}

.kind-4 {
	border: 1px solid #e1e3e3;
	float: left;
	height: 280px;
	text-align: center;
	width: 230px;
}

.kind-4-image {
	background: url('../images/sprite.png') -708px -93px;
	height: 140px;
}

.fourth-screen-wrapper {
	background: url('../images/texture.jpg');
	position: relative;
}

.texture-angle {
	background: url('../images/texture-angle.png') no-repeat;
	background-size: cover;
	height: 169px;
	position: absolute;
	top: -167px;
	width: 100%;
}


.example-block-1,
.example-block-2 {
	margin: 0 0 60px;
	overflow: hidden;
	position: relative;
}


.example-pic-1 {
	background: url('../images/sprite.png') no-repeat 0 -324px;
	height: 299px;
	margin: 35px 0 0 95px;
	position: relative;
	max-width: 443px;
	width: 100%;
	z-index: 3;
}

.example-box-1 {
	border: 3px solid #f0ec88;
	box-sizing: border-box;
	height: 250px;
	padding: 45px 30px 55px 105px;
	position: absolute;
	right: 115px;
	top: 0;
	width: 385px;
}

.example-text {
	background: rgba(62, 179, 200, 0.3);
	color: #fff;
	font: 20px 'Gotham-Pro-Medium';
	line-height: 30px;
	margin: 0;
	padding: 13px 25px 13px 13px;
	width: 200px;
}

.area,
.cost {
	color: #c6c4c4;
	font: 14px 'Gotham-Pro-Light';
}

.area {
	margin: 25px 0 10px 13px;
}

.cost {
	margin: 0 0 0 13px;
}

.example-pic-2 {
	background: url('../images/sprite.png') -449px -324px;
	float: right;
	height: 271px;
	margin: 30px 100px 0 0;
	overflow: hidden;
	position: relative;
	width: 401px;
	z-index: 3;
}

.example-box-2 {
	border: 3px solid #3eb3c8;
	box-sizing: border-box;
	height: 210px;
	padding: 23px 140px 40px 27px;
	position: absolute;
	left: 140px;
	top: 0;
	width: 385px;
}

.example-block-3 {
	padding: 0 0 45px;
	overflow: hidden;
	position: relative;
}

.example-pic-3 {
	background: url('../images/sprite.png') no-repeat -855px -324px;
	height: 281px;
	margin-left: 115px;
	position: relative;
	width: 414px;
	z-index: 3;
}

.example-box-3 {
	border: 3px solid #f0ec88;
	box-sizing: border-box;
	height: 250px;
	padding: 45px 30px 55px 105px;
	position: absolute;
	right: 130px;
	top: 70px;
	width: 385px;
}

.fifth-screen-wrapper {
	background: url('../images/cross-texture-1.png');
}

.benefit-column {
	float: left;
	margin: 0 35px 0 0;
	overflow: hidden;
	width: 296px;
}

.benefit-column:last-child {
	margin-right: 0;
}

.benefit-1 {
	margin: 0 0 50px;
}

.benefit-water,
.benefit-pipe,
.benefit-green {
	height: 115px;
	margin: 0 0 20px;
	width: 115px;
}

.benefit-water {
	background: url('../images/sprite.png') -961px 0;
	float: right;
}

.benefit-heading-1 {
	clear: both;
	color: #000;
	font: 15px 'Gotham-Pro-Medium', sans-serif;
	text-align: right;

}

.benefit-description-1 {
	color: #393939;
	font: 13px 'Gotham-Pro-Regular';
	line-height: 18px;
	text-align: right;

}

.benefit-pipe {
	background: url('../images/sprite.png') -1081px 0;
	float: right;
}

.iphone {
	background: url('../images/sprite.png') -1291px -132px;
	height: 496px;
	margin: 20px auto 0;
	width: 243px;
}

.benefit-quality {
	background: url('../images/sprite.png') -1453px 0;
	height: 115px;
	margin: 35px auto 20px;
	width: 119px;
}

.benefit-heading-2 {
	color: #000;
	font: 15px 'Gotham-Pro-Medium', sans-serif;
	text-align: center;
}

.benefit-description-2 {
	color: #393939;
	font: 13px 'Gotham-Pro-Regular';
	line-height: 18px;
	margin: 0;
	text-align: center;
}

.benefit-green {
	background: url('../images/sprite.png') -1201px 0;
}

.benefit-heading-3 {
	color: #000;
	font: 15px 'Gotham-Pro-Medium', sans-serif;

}

.benefit-description-3 {
	color: #393939;
	font: 13px 'Gotham-Pro-Regular';
	line-height: 18px;
	margin-bottom: 45px;
}

.benefit-time {
	background: url('../images/sprite.png') -1322px 0;
	height: 121px;
	margin: 0 0 20px;
	width: 124px;
}

.sixth-screen-wrapper {
	background: url('../images/order-bg.jpg') no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.order-container {
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
	padding: 45px 0 60px;
	position: relative;
	width: 960px;
}

.order-heading {
	color: #49cee6;
	font: 30px 'Gotham-Pro-Bold';
	letter-spacing: -0.04em;
	margin: 0 auto 50px;
	text-align: center;
	text-transform: uppercase;
}

.order-box,
div.order-box.order-box-1 {
	float: left;
	margin: 0 13px 0 0;
	position: relative;
	text-align: center;
	width: 230px;
}


.order-box:after {
	content: url('../images/order-path.png');
	position: absolute;
	right: -78px;
	top: 32px;
}

div.order-box.order-box-1:after {
	content: url('../images/order-path.png');
	position: absolute;
	right: -78px;
	top: 32px;
}

.order-box:last-child:after {
	content: none;
}

.order-box:last-child {
	margin: 0;
}

.order-pic-1,
.order-pic-2,
.order-pic-3,
.order-pic-4 {
	height: 87px;
	margin: 0 auto 25px;
	width: 87px;
}

.order-pic-1 {
	background: url('../images/sprite.png') -866px 0;
	
}

.order-pic-2 {
	background: url('../images/sprite.png') -596px 0;
	
}

.order-pic-3 {
	background: url('../images/sprite.png') -776px 0;
}

.order-pic-4 {
	background: url('../images/sprite.png') -686px 0;
}

.order-title {
	color: #3eb2c8;
	font: 18px 'Gotham-Pro-Bold';
	margin: 0 0 15px;
	text-transform: uppercase;
}

.order-description {
	color: #fff;
	font: 13px 'Gotham-Pro-Light';
	line-height: 18px;
	margin: 0;
}

.feedback-container {
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding: 35px 0 80px;
	width: 960px;
}

.slider-container {
	min-height: 470px;
	overflow: hidden;
}

.slider.slick-slider {
	margin: 0 auto ;
	position: relative;
	max-width: 857px;
}

.slick-arrow {
	background: none;
	border: none;
	height: 37px;
	margin-top: -43px;
	outline: none;
	position: absolute;
	text-indent: -99999px;
	top: 50%;
	width: 20px;
}

.slick-prev {
	background: url('../images/sprite.png') 0 -56px;
	left: -30px;
}

.slick-next {
	background: url('../images/sprite.png') -23px -56px;
	right: -30px;
}

.slick-dots {
	bottom: 20px;
	left: 50%;
	list-style: none;
	margin-left: -30px; 
	padding: 0;
	position: absolute;
}

.slick-dots li {
	display: inline-block;
	margin: 0 7px 0 0;

}

.slick-dots .slick-active button {
	background: none;
}

.slick-dots li button {
	background: #2d3846;
	border: 2px solid #2d3846;
	border-radius: 50%;
	height: 13px;
	outline: none;
	padding: 0;
	text-indent: -99999px;
	width: 13px;
}

.feedback {
	background: url('../images/sprite.png') -3px -646px;
	box-sizing: border-box;
	min-height: 458px;
	margin: 0 auto;
	outline: none;
	padding: 120px 90px 0 160px;
	width: 857px;
}

.client-1,
.client-2,
.client-3 {
	background: url('../images/sprite.png') -876px -642px;
	float: left;
	height: 207px;
	margin-top: 40px;
	width: 207px;
}

.client-2 {
	background: url('../images/sprite.png') -1094px -642px;
}

.client-3 {
	background: url('../images/sprite.png') -1309px -642px;
}

.feedback-block {
	float: left;
	margin: 0 0 0 45px;
	width: 355px;
}

.client-data {
	color: #252d38;
	font: 18px 'Gotham-Pro-Bold';
}

.client-data.client-feedback-1 {
	margin: 40px 0 0;
}

.client-data.client-feedback-2 {
	margin: 60px 0 0;
}

.feedback-text {
	color: #252525;
	font: 13px 'Gotham-Pro-Regular';
	line-height: 24px;
}

.big-logo {
	background: url('../images/sprite.png') -868px -875px;
	float: right;
	height: 132px;
	margin: 80px 120px 0 0;
		overflow: hidden;
	width: 233px;
}

.footer-wrapper {
	background: #212934;
	clear: both;
	margin: 0 auto;
	min-height: 300px;
}

.footer-container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 45px 0 60px;
	position: relative;
	width: 960px;
}

.footer-form {
	background: #2d3846;
	box-sizing: border-box;
	height: 510px;
	padding: 50px;
	position: absolute;
	top: -265px;
	width: 520px;
} 

.footer-hidden {
	height: 90px;
	position: absolute;
	top: -90px;
}

.form-title {
	color: #49cee6;
	font: 30px 'Gotham-Pro-Bold';
	margin: 0 0 20px;
}

.form-text {
	color: #cfcdcd;
	font: 16px 'Gotham-Pro-Light';
	line-height: 24px;
	margin: 0 auto;
	text-align: center;
	width: 360px;
}

label {
	color: #8d8e8e;
	display: inline-block;
	font: 16px 'Gotham-Pro-Regular';
	margin: 25px 0 7px 7px;
}

.asterisk {
	color: #f81621;
}

.field {
	border: 2px solid #c5c7c7;
	border-radius: 6px;
	box-sizing: border-box;
	display: block;
	font: 16px 'Gotham-Pro-Regular';
	height: 50px;
	margin: 0 auto;
	outline: none;
	padding: 0 15px;
	width: 420px;
}

.field:focus {
	border: 2px solid #49cee6;
}

.btn-submit {
	background: #49cee6;
	border: none;
	border-radius: 22px;
	color: #28323f;
	display: block;
	font: 18px 'Gotham-Pro-Medium';
	height: 43px;
	margin: 45px auto 0;
	outline: none;
	width: 237px;
}

.btn-submit:hover {
	background: #40b9cf;
}

.footer-info {
	box-sizing: border-box;
	float: right;
	padding: 0 0 0 35px;
	width: 435px;
}

.footer-title {
	color: #cfcdcd;
	font: 18px 'Gotham-Pro-Regular';
	margin: 0 0 40px;
}


.footer-logo {
	background: url('../images/sprite.png') no-repeat 0 -1146px;
	display: inline-block;
	float: left;
	height: 54px;
	margin: 0 0 50px;
	padding: 0 30px 0 0;
	width: 95px;
}

.copyright {
	clear: both;
	color: #929496;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0 0 8px;
	text-align: center;
}

.footer-phones {
	float: right;
	position: relative;
	width: 130px;
}

.footer-phone-icon {
	background: url('../images/sprite.png') no-repeat -98px 0;
	height: 34px;
	left: -50px;
	position: absolute;
	top: 5px;
	width: 33px;
}

.footer-phone {
	color: #fff;
	font: 16px 'Gotham-Pro-Regular';
	margin: 0 0 12px;
}

.development {
	clear: both;
	color: #929496;
	font-size: 11px;
	font-family:  Arial, sans-serif;
	margin: 0;
	text-align: center;
}

.ad-agency {
	color: #cfcdcd;
	font-weight: bold;
	text-decoration: none;
}

.ad-agency:hover {
	color: #f32039;
}

.popup-heading {
	color: #fff;
	font: 16px 'Gotham-Pro-Regular';
	line-height: 26px;
	margin: 0 0 10px;
	text-align: center;
}

.blackout {
	cursor: pointer;
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.pop-up {
	background: #2d3846;
	border-radius: 3px;
	border: 1px solid #435368;
	box-sizing: border-box;
	display: none;
	font-family: Arial, sans-serif;
	height: 490px;
	left: 50%;
	margin: -245px 0 0 -200px; 
	padding: 30px 20px;
	position: fixed;
	top: 50%;
	width: 400px;
	z-index: 10;
}

.apply-title {
	color: #49cee6;
	font: 30px 'Gotham-Pro-Bold';
	margin: 0;
	text-align: center;
}

.cancel {
	background: url('../images/sprite.png') no-repeat;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: -18px;
	top: -18px;
	width: 16px;
}

.popup-field {
	border: 1px solid #c5c7c7;
	border-radius: 6px;
	box-sizing: border-box;
	display: block;
	font: 16px 'Gotham-Pro-Regular';
	height: 45px;
	margin: 0 auto;
	outline: none;
	padding: 0 15px;
	width: 350px;
}

.popup-field:focus {
	border: 2px solid #49cee6;
}

.title {
	font-size: 20px;
}

@media only screen and (max-width: 1200px) {
	nav {
		width: 920px;
	}

	.logo {
		padding: 0 20px 0 0;
	}

	.logo:after {
		margin: -15px 0 0;
		padding-left: 114px;
	}

	.menu {
		width: 670px;
	}

	.menu li {
		display: inline-block;
		margin: 0;
	}

	.menu li a {
		font: 14px 'Gotham-Pro-Light';
		padding: 32px 22px 30px;
	}

	.line {
		background: url('../images/line.png');
		height: 80px;
		left: -11px;
		position: absolute;
		top: -11px;
		width: 1px;
	}

	.phone-block {
		padding-left: 40px;
	}

	.phone-icon {
		left: -2px;
		top: 10px;
	}

	.phone-block p {
		font: 12px 'Gotham-Pro-Regular';
	}

	.container,
	.order-container,
	.feedback-container,
	.slider-container,
	.footer-container {
		width: 920px;
	}

	.reason-block {
		float: left;
		margin: 0 15px 0 0;
		width: 170px;
	}

	.kind-1,
	.kind-3 {
		margin: 0 40px 0 185px;
	}

	.kind-2,
	.kind-4 {
		margin: 0 185px 0 40px;
	}

	.row {
		clear: both;
	}

	.kind-3,
	.kind-4 {
		float: left;
		margin-top: 30px;
	}

	.example-pic-1 {
		margin: 35px 0 0 75px;
	}

	.example-box-1 {
		right: 105px;
	}

	.example-pic-2 {
		margin: 30px 100px 0 0;
	}

	.example-box-2 {
		left: 130px;
	}

	.example-pic-3 {
		margin-left: 95px;
	}

	.example-box-3 {
		right: 110px;
	}

	.benefit-column {
		width: 280px;
	}

	.order-box {
		float: left;
		margin-right: 26px;
		width: 210px;
	}

	div.order-box.order-box-1 {
		width: 210px;
	}


	div.order-box.order-box-1:after,
	.order-box:after {
		right: -86px;
	}

	.footer-form {
		left: 25px;
	}

	.footer-info {
		width: 390px;
	}

}

@media only screen and (max-width: 920px) {
	nav {
		height: 80px;
		position: relative;
		width: 100%;
	} 

	.logo {
		margin-left: 20px;
	}

	.menu {
		display: none;
		font-size: 0;
		list-style-type: none;
		position: absolute;
		top: 80px;
		left: 50%;
		margin: 0 0 0 -150px;
		padding: 0;
		z-index: 1;
	}

	.menu.show-menu {
		display: block;
	}

	.menu li {
		display: block;
	}

	.menu li a {
		background: #212a34;
		border-bottom: 1px solid #484d52;
		box-sizing: border-box;
		padding: 15px 20px;
		width: 300px;
		
	}

	.hamburger {
		border: none;
		display: block;
		float: left;
		left: 50%;
		margin: 30px 0 18px -50px;
		padding: 0;
		position: absolute;
	}

	.hamburger-box:focus {
		outline: none;
	}

	.btn-description {
		color: #c2c2c2;
		position: absolute;
		left: 50px;
		top: -15px;
	}

	button.hamburger {
		background: transparent;
		outline: none;
		padding: 0;
	}

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	    width: 40px;
	    height: 4px;
	    background-color: #c2c2c2;
	    border-radius: 4px;
	    position: absolute;
	    transition-property: -webkit-transform;
	    transition-property: transform;
	    transition-property: transform, -webkit-transform;
	    transition-duration: 0.15s;
	    transition-timing-function: ease; }
	  .hamburger-inner::before, .hamburger-inner::after {
	    content: "";
	    display: block; }
	  .hamburger-inner::before {
	    top: -10px; }
	  .hamburger-inner::after {
	    bottom: -10px; }

	.phone-block {
		float: right;
	}

	.phone-block p {
		margin-right: 20px;
	}

	h1 {
		font-size: 32px;
		line-height: 46px;
	}

	.container,
	.feedback-container {
		width: 100%;
	}

	.container {
		min-height: 600px;
	}

	.header-cta {
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		width: 280px;
	}

	.heading-1,
	.heading-2,
	.order-heading {
		font-size: 26px;
	}

	.reason-panel {
		float: left;
		left: 50%;
		margin: 0 0 0 -285px;
		overflow: hidden;
		position: absolute;
		width: 570px;
	}


	.reason-panel:last-child {
		bottom: 100px;
	}

	.desktop-reason-block {
		display: none;
	}

	.mobile-reason-block {
		display: block;
		float: left;
		margin: 50px 15px 0 90px;
		width: 180px;
	}

	.mobile-reason-block:last-child {
		margin: 50px 90px 0 15px;
	}

	.reason-block {
		margin-right: 15px; 
	}

	.reason-block:first-child {
		margin-left: 15px; 
	}

	.kinds-panel {
		width: 800px;
	}

	.kind-1,
	.kind-3 {
		margin: 0 40px 0 128px;
	}

	.kind-2,
	.kind-4 {
		margin: 0 128px 0 40px;
	}

	.kind-3,
	.kind-4 {
		margin-top: 30px;
	}

	.example-box-1,
	.example-box-2,
	.example-box-3 {
		padding-left: 65px; 
	}

	.example-pic-1 {
		margin-top: 215px;
	}

	.example-pic-2 {
		margin-top: 190px;
	}

	.example-block-3 {
		padding: 0;
	}

	.example-pic-3 {
		margin-top: 220px;
	}

	.example-box-3 {
		top: 0;
	}

	.benefit-container {
		margin: 0 auto;
		width: 768px;
	}

	.benefit-column {
		margin: 0 20px 0 0;
		width: 242px;
	}

	.order-container,
	.footer-container {
		width: 768px;
	}

	.order-box:after {
		display: none;
	}

	.order-mobile {
		margin: 0 auto;
		overflow: hidden;
		width: 460px;
	}

	.order-mobile:last-child {
		margin-top: 40px; 
	}

	.feedback-container {
		min-height: 720px;
	}

	.slider-container {
		min-height: 280px;
		margin: 0 auto;
		width: 768px;
	}

	.feedback {
		background: none;
		margin: 0 auto;
		min-height: 320px;
		padding: 0; 
		width: 580px;
	}

	.slider.slick-slider {
		margin: 0 auto ;
		position: relative;
		max-width: 580px;
	}

	.feedback-block {
		margin: 0 0 0 25px;
		width: 310px;
	}

	.slick-prev {
		left: -50px;
	}

	.slick-next {
		right: -40px;
	}

	.slick-dots {
		bottom: 5px;
	}

	.client-1,
	.client-2,
	.client-3 {
		margin: 0;
	}

	.client-data.client-feedback-1,
	.client-data.client-feedback-2 {
		margin: 30px 0 0;
	}

	.client-data {
		margin-top: 0;
	}

	.big-logo {
		display: none;
	}

	.footer-wrapper {
		min-height: 550px;
	}

	.footer-container {
		left: 50%;
		margin: 0 0 0 -380px;
		padding: 285px 0 60px;
		position: absolute;
	}

	.footer-form {
		left: 50%;
		margin-left: -260px;
	}

	.footer-info {
		float: left;
		left: 50%;
		margin: 0 0 0 -190px;
		padding: 0;
		position: absolute;
	}

	.footer-title {
		text-align: center;
	}

}

@media only screen and (max-width: 767px) {
	.benefit-container,
	.order-container,
	.container {
		width: 600px;
	}

	.benefit-column,
	.benefit-column:last-child {
		float: none;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		width: 300px;
	}

	.benefit-1 {
		margin: 0;
	}

	.benefit-heading-1 {
		text-align: center;
	}

	.benefit-water {
		float: none;
		margin: 0 auto 20px;
	}


	.benefit-pipe,
	.benefit-green,
	.benefit-time {
		float: none;
		margin: 50px auto 20px;
	}

	.benefit-description-1 {
		text-align: center;
	}

	.benefit-description-3 {
		margin-bottom: 0; 
	}

	.feedback {
		height: 520px;
	}

	.slick-dots {
		bottom: -30px;
	}

	.slider-container {
		width: 600px;
		min-height: 740px;
	}

	.client-1,
	.client-2,
	.client-3 {
		float: none;
		margin: 0 auto;
	}

	.feedback-block {
		float: none;
		margin: 20px auto;
	}

	.slick-prev {
		left: 70px;
		z-index: 1;
	}

	.slick-next {
		right: 75px;
	}

	.footer-container {
		margin: 0 0 0 -300px;
		width: 600px;
	}

	.kinds-panel {
		width: 320px;
	}

	.kind-1,
	.kind-2,
	.kind-3,
	.kind-4 {
		float: none;
		margin: 0 auto 30px;
	}
}

@media only screen and (max-width: 599px) { 
	h1 {
		font-size: 26px;
		line-height: 36px;
	}

	.header-sub-title {
		line-height: 32px;
		width: 420px;
	}

	.example-pic-1,
	.example-pic-2,
	.example-pic-3 {
		height: 208px;
		width: 308px;
	}

	.example-pic-1 {
		background: url('../images/sprite.png') 0 -1206px;
	}

	.example-pic-2 {
		background: url('../images/sprite.png') -321px -1206px;
	}

	.example-pic-3 {
		background: url('../images/sprite.png') -653px -1206px;
	}

	.example-box-1,
	.example-box-2,
	.example-box-3 {
		width: 340px; 
	}

	.example-box-2 {
		padding-right: 90px; 
	}

	.container,
	.benefit-container,
	.slider-container,
	.order-container {
		width: 100%;
	}

	.footer-container {
		margin: 0 0 0 -240px;
		width: 480px;
	}

	.feedback-block {
		margin-top: 40px;
	}

	.client-data {
		text-align: center;
	}

	.feedback-container {
		width: 460px;
	}

	.slider.slick-slider {
		margin: 0 auto ;
		position: relative;
		max-width: 460px;
	}

	.slick-arrow {
		top: 40%;
	}

	.slick-prev {
		left: 5px;
		z-index: 1;
	}

	.slick-next {
		right: 10px;
	}

	.why-container {
		min-height: 1150px;
	}

	.mobile-reason-block {
		display: none;
	}

	.desktop-reason-block {
		display: block;
	}

	.reason-block,
	.reason-block:first-child,
	.reason-block:last-child {
		float: none;
		margin: 0 auto 50px;
	}

	.footer-form {
		margin-left: -155px;
		padding: 30px;
		width: 310px;
	}

	.form-title {
		font-size: 24px;
		text-align: center;
	}

	.form-text {
		font-size: 14px;
		width: 250px;
	}

	.field {
		width: 250px;
	}

	.btn-submit {
		width: 180px;
	}

	.pop-up {
		height: 460px;
		margin: -235px 0 0 -140px;
		width: 280px;
	}

	.popup-heading {
		font-size: 14px;
		line-height: 20px;
		margin-top: 15px;
	}

	.popup-field {
		width: 240px;
	}
}

@media only screen and (max-width: 479px) {
	header {
		height: 600px;
	}

	h1 {
		font-size: 22px;
	}

	.header-sub-title {
		font-size: 19px;
	}

	.header-cta {
		font-size: 16px;
		width: 250px;
	}

	.container,
	.order-container,
	.feedback-container,
	.footer-container {
		width: 320px;
	}

	.footer-container {
		margin-left: -160px;
	}

	.heading-1,
	.heading-2,
	.order-heading {
		font-size: 22px;
	}

	.example-box-1,
	.example-box-2,
	.example-box-3 {
		padding-left: 30px;
		width: 290px;
	}

	.example-box-1,
	.example-box-3 {
		right: 25px;
	}


	.example-pic-1,
	.example-pic-3 {
		margin-left: 5px;
	}

	.example-box-2 {
		left: 2px;
	}

	.example-pic-2 {
		margin-right: 3px;
	}

	.order-box,
	div.order-box.order-box-1{
		float: none;
		margin: 0 auto 50px;
	}

	.order-box:last-child {
		float: none;
		margin: 0 auto;
	}

	.order-mobile {
		width: 320px;
	}

	.order-mobile:last-child {
		margin: 0 auto;
		width: 320px;
	}

	.footer-info {
		margin-left: -155px;
		width: 310px;
	}

}

@media only screen and (max-width: 420px) {
	h1 {
		font-size: 22px;
		margin-top: 160px;
		width: 310px;
	}

	.header-sub-title {
		font-size: 19px;
		width: 315px;
	}

	.btn-description {
		display: none;
	}

	.hamburger {
		margin-left: -32px;
	}

	.logo{
		margin-left: 4px;
	}
	.phone-block p {
		margin-right: 4px;
	}

	.slider-container {
		min-height: 790px;
	}

	.feedback {
		height: 570px;
	}

	.feedback-block {
		width: 270px;
	}
}


