@font-face {
    font-family: 'Gotham-Pro-Regular';
    src: url('../fonts/Gotham-Pro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Bold';
    src: url('../fonts/Gotham-Pro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Light';
    src: url('../fonts/Gotham-Pro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Pro-Medium';
    src: url('../fonts/Gotham-Pro-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar-wrapper {
	background: #212a34;
	border-bottom: 1px solid #2d353d;
	box-sizing: border-box;
	height: 80px;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 3;
}

nav {
	margin: 0 auto;
	width: 1200px;
}

.header-logo {
	background: url('../images/sprite.png') no-repeat 0 -1146px;
	display: inline-block;
	float: left;
	height: 54px;
	margin: 14px 0 0;
	padding: 0 30px 0 0;
	width: 95px;
}

.header-logo:after {
	content: url('../images/line.png');
	display: inline-block;
	margin: -14px 0 0;
	padding-left: 124px;
}

.menu {
	float: left;
	font-size: 0;
	margin: 0 auto;
	padding: 0;
	width: 900px;
}

.menu li {
	display: inline-block;
	margin: 0;
}

.menu li a {
	border-bottom: 3px solid #212a34;
	color: #c2c2c2;
	display: inline-block;
	font: 16px 'Gotham-Pro-Light';
	padding: 32px 37px 27px;
	text-decoration: none;
}

.menu li a:hover {
	background: #2e3b4a;
	border-bottom: 3px solid #3bbbd2;
	color: #fff;
}

.phone-block {
	float: left;
	margin-top: 11px;
	padding-left: 60px;
	position: relative;
}

.line {
	background: url('../images/line.png');
	height: 80px;
	left: -6px;
	position: absolute;
	top: -11px;
	width: 1px;
}

.phone-icon {
	background: url('../images/sprite.png') no-repeat -98px 0;
	height: 34px;
	left: 10px;
	position: absolute;
	top: 14px;
	width: 33px;
}

.phone-block p {
	color: #fff;
	font: 14px 'Gotham-Pro-Regular';
	margin: 10px 0;
}


header {
	background: url('../images/main-bg.jpg') no-repeat;
	background-size: cover;
	height: 650px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

.header-top {
	height: 80px;
}




h1,
.header-sub-title {
	color: #fff;
	text-align: center;
} 

h1	{
	font: 36px 'Gotham-Pro-Medium';
	line-height: 52px;
	margin: 160px auto 25px;
	max-width: 830px; 
}

.header-sub-title {
	font: 22px 'Gotham-Pro-Regular';
	margin: 0 auto 100px;
}

.header-cta {
	background: #3bbbd2;
	border-radius: 30px;
	color: #fff;
	display: block;
	font: 20px 'Gotham-Pro-Medium';
	height: 55px;
	line-height: 55px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 327px;
}

.header-cta:hover {
	background: #06a5c2;
}

.second-screen-wrapper {
	background: #212a34;
	position: relative;
} 

.angle {
	background: url('../images/angle.png') no-repeat;
	background-size: cover;
	height: 116px;
	position: absolute;
	top: -116px;
	width: 100%;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
	padding: 35px 0 60px;
	width: 960px;
}

h2 {
	color: #3eb2c8;
	font: 30px 'Gotham-Pro-Bold';
	margin: 0 auto 15px;
	text-align: center;
	text-transform: uppercase;
}

.sub-title {
	color: #808080;
	font: 14px 'Gotham-Pro-Light';
	margin: 0 auto 50px;
	text-align: center;
}

.reason-panel {
	float: left;
	overflow: hidden;
}

.reason-block {
	float: left;
	width: 185px;
}

.reason-experience,
.reason-cost,
.reason-speed,
.reason-smile,
.reason-guarantee {
	height: 89px;
	margin: 0 auto;
	width: 89px;
}

.reason-experience {
	background: url('../images/sprite.png') -141px 0;
}

.reason-cost {
	background: url('../images/sprite.png') -231px 0;
}

.reason-speed

.reason-description {
	color: #ccc;
	font: 13px 'Gotham-Pro-Light';
	text-align: center;
}

.reason-decor {
	color: #fff;
	font: 24px 'Gotham-Pro-Bold';
}

